

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}



body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./background.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 800px; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}



@keyframes slideInFromLeft {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

tr {
    animation: slideInFromLeft 0.5s ease-out; 
}
